<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>COE -Service</title>
		<meta name="description" content="Blueprint: Horizontal Slide Out Menu" />
		<meta name="keywords" content="horizontal, slide out, menu, navigation, responsive, javascript, images, grid" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		
		
		 <link href="../static/css/default.css" rel="stylesheet" th:href="@{/css/default.css}"/>
		 <link href="../static/css/component.css" rel="stylesheet" th:href="@{/css/component.css}"/>	
		 <script src="../static/js/modernizr.custom.js" th:src="@{/js/modernizr.custom.js}"></script>
		 
		  
		
</head>
<title>COE -Service</title>
<body>
 

<div class="container">
			<header class="clearfix">			
				<h1>COE - My School</h1>	
				<img src="../static/images/banner.png"  th:src="@{/images/banner.png}" width="50%" height="50%" alt="img01"/>			
			</header>	
			<div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<li>
								<a th:href="@{'/'}">Home</a>								
							</li>
						
							<li>
								<a href="#">School's</a>
								<ul class="cbp-hssubmenu">
									<li><a th:href="@{'/coe/school'}"><img src="../static/images/sc3.jpg"  th:src="@{/images/sc3.jpg}"  width="50%" height="50%" alt="img01"/><span>Get All School</span></a></li>
									<li><a th:href="@{'/coe/school/create'}"><img src="../static/images/sc1.png"  th:src="@{/images/sc1.png}"  width="50%" height="50%"  alt="img02"/><span>Create School</span></a></li>
									<li><a th:href="@{'/coe/school/getStudentsBySchool'}"><img src="../static/images/sc2.jpg"  th:src="@{/images/sc2.jpg}"  width="50%" height="50%"  alt="img03"/><span>Get Students By School</span></a></li>								
								</ul>
							</li>
							<li>
								<a href="#">Student's</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a th:href="@{'/coe/student'}"><img  src="../static/images/st1.png"  th:src="@{/images/st1.png}" width="50%" height="50%"  alt="img07"/><span>Get All Student</span></a></li>
									<li>
									<a th:href="@{'/coe/student/create'}">
									<img  src="../static/images/st4.jpg"  th:src="@{/images/st4.jpg}" width="50%" height="50%"  alt="img08"/><span>Create Student</span></a></li>						
								</ul>
							</li>							
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="../static/js/cbpHorizontalSlideOutMenu.min.js" th:src="@{/js/cbpHorizontalSlideOutMenu.min.js}"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>


	<h4>Student Details By School...</h4>

	<form action="#" th:action="@{/getStudentsBySchool}" th:object="${school}" method="post">   	    
	 <table>  
        <tr>  
            <td><label for="schoolname">School Name</label></td>  
            <td><input type="text" th:field="*{schoolname}" id="schoolname" placeholder="School Name">
           </td>  
        </tr>   
        <tr>  
            <td></td>  
            <td><input type="submit" value="Search School">
                <input type="reset" value="Clear">
           </td>  
        </tr>        
    </table>        
	    
	</form>
	 
	 
<br/><br/>
	 
 <div th:if="${studentInfo != null}">
	<table  border="1">			
	 <tr><td>School Application Name</td><td th:text="${studentInfo.schoolAppInfo}" /></tr>
	 <tr><td>School Name</td><td th:text="${studentInfo.schoolName}"/></tr>
	 <tr><td>Student Application Name</td><td th:text="${studentInfo.studentInfo.studentAppInfo}" /></tr>
	  <tr>
		 <div th:if="${studentInfo.studentInfo.message != null}"> 		 
		 <td>Message</td><td th:text="${studentInfo.studentInfo.message}" />
		 </div>
		  </tr>
	 </table>	
	</div>
	
	<br/><br/>
	
	<div th:if="${studentInfo != null}">
	<div th:if="${not #lists.isEmpty(studentInfo.studentInfo.listStudent)}">	  
	  <table  border="1">
		  <tr>
				<th>Student ID </th>
				<th>Student Name</th>
				<th>Standard</th>				
			</tr>	  
		  <tr th:each="studentList : ${studentInfo.studentInfo.listStudent}">
				<td th:text="${studentList.studentId}" />
				<td th:text="${studentList.studentName}"/>
				<td th:text="${studentList.className}" />			
			</tr>		 
	  </table>
	  </div>
	  </div>
	 
	  
	
	
</body>
</html>