<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>COE-UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="/css/auth0-theme.min.css" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/auth0-theme.min.js"></script>
</head>

<body>
<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero">               
                <img src="images/banner1.jpeg" width="50%" height="50%" alt="School Banner"/>		
                <h1 class="mb-4">COE-Demo UI</h1>

                <p class="lead">
                    This is a sample application that demonstrates an authentication flow for a web application using Spring Boot Security.
                </p>               
            </div>
        </div>
    </div>
</div>
</body>
</html>